* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#loading{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;

}
.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color: #fff;
   
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: #FF3D00;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }


.btn-success{
    background: linear-gradient(to left, #8942a8, #ba382f);
    border-color: white;
}
.btn-success:hover{
    border-color:white ;
}
.btn-success.focus, .btn-success:focus{
    box-shadow: 0 0 0 0.2rem rgba(211, 13, 152, 0.25);
}
.btn.focus, .btn:focus{
    box-shadow: 0 0 0 0.2rem rgba(211, 13, 152, 0.25);

}
.nav-item a {
    color: #8942a8;
}
.sp-thongbao {
    color: red;
    margin-left: 2px; 
    display: none;
  }
